*.exe
*.dll
*.so
*.dylib
*.test
*.out
*.env

*.coverprofile
*.cover.out

go.work
go.work.sum

vendor/

.vscode/
.idea/
*.swp

.DS_Store
.AppleDouble
.LSOverride

*.localized

._*

.Trashes

Icon?
ehthumbs.db
Thumbs.db

*.log
*.tmp
*.bak

.git/

*.testresult

message-service